.header {
  background: rgb(240, 240, 240) !important;
  height: max-content;
}

.articles {
  display: flex;
  margin: 60px;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.article-card {
  margin: 20px;
}

.article-body {
  text-align: center;
}

.article-card-icon {
  height: 220px;
}

.article-link {
  text-decoration: none;
  color: black;
}

.article-card {
  width: 900px;
  height: auto;
}

.articleContent {
  padding: 60px;
  text-align: justify;
  white-space: pre-line;
  vertical-align: bottom;
}
