.rows-column{
    content: "";
    clear: both;
    /* display: table; */
    display: block;
    /* top: 330px; */
    display: center;
  
  }
  span {
    margin-left: 3px;
}
  .blocks{
    float: left;
  }
  .column-Pharmacy {
    float: left;
       width: 20%;
    padding: 5px;
    
  }
  .image-size {
    height: 141px;
}
  /* .column-Pharmacy:hover{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  } */
  .Pharmacy{
      text-align: center;
      background-color: rgb(235,241,248);
  }
  .Order-now{
    margin-top: 5px;
  }
  .shopping-cart{
    position:absolute;
    top: 32px;
    z-index: 1000;
    color: white;
    left: 1184px;
    size:lg;
  }